:root {
  --gradient: linear-gradient(135deg, #89b4e0, #dbeafe, #a7c7e7);
  --font:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  --button-color: #1f9eed;
  --button-color-hover: #1f9eede0;
  --card-bg: rgba(255, 255, 255, 0.5);
}

body {
  padding-top: clamp(1.2rem, 1rem + 0.7vw, 1.7rem);
  font-family: var(--font);
  min-height: 100vh;
  margin: 0;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  gap: clamp(1.6rem, 1rem + 2vw, 2.3rem);
  align-items: center;
  letter-spacing: 0.64px;
}

.header {
  width: 100%;
  max-width: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem auto;
  padding: 0 1rem;

  background: none;
  border: none;
  gap: 1rem;
}

.header__logo {
  font-family:
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1.2rem, 1.1rem + 1vw, 1.6rem);
  letter-spacing: 0.05rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__inputDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__input {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255, 0.9);
  outline: none;
  width: 160px;
}

.header__input:focus {
  outline: 2px solid rgba(2, 46, 141, 0.8);
}

.content {
  min-height: fit-content;
  min-width: fit-content;
  position: relative;
}

/* All buttons */
body button {
  outline: none;
  cursor: pointer;
  background: none;
  background-color: var(--button-color);
  border: none;
  border-radius: 7px;
  color: white;
  width: 61px;
  height: 40px;

  transition: transform 0.2s ease;
}

body button:hover {
  background-color: var(--button-color-hover);
  transform: translateY(-2px);
}

/* main weather card */
.weather {
  background: var(--card-bg);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  min-height: fit-content;
  width: clamp(305px, 300px + 7vw, 380px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 22px;

  padding: clamp(0.8rem, 0.7rem + 1.2vw, 1.3rem);

  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1rem + 2vw, 2rem);

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.5);
}

.weather > div {
  border-radius: 13px;
  padding: clamp(0.8rem, 0.6rem + 0.7vw, 1rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.error {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  min-width: 250px;
  text-align: center;

  background: rgba(255, 77, 77, 0.15);
  color: #b00020;
  border: 1px solid rgba(255, 77, 77, 0.4);

  padding: 0.6rem 2rem;
  border-radius: 10px;

  backdrop-filter: blur(5px);

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.error.hidden {
  display: none;
}

.weather__main,
.weather__info {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
/* From here starts FONT MANAGEMENT */

/* Address */
.weather__address {
  font-size: clamp(1.5rem, 1.3rem + 0.6vw, 2.1rem);
  font-weight: 600;
  color: #111;
}

.weather__date {
  font-size: 0.9rem;
  opacity: 0.76;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0.3rem;
}

.weather__temp {
  padding: 0;
  margin: 0;
  font-size: clamp(2.8rem, 2.2rem + 2vw, 3.8rem);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.weather__condition {
  font-size: 1rem;
  font-weight: 500;
}

.weather__feelsLike {
  font-size: 0.85rem;
  opacity: 0.75;
  width: 97px;
}

.weather__description {
  font-size: 0.9rem;
  opacity: 0.7;
}

.weather__label {
  font-size: clamp(0.8rem, 0.7rem + 0.6vw, 1rem);
  opacity: 0.7;
}

/* layout of HEADER BOX */
.weather > .weather__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: none;
}

/* layout of Main Box */
.weather__main {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
  gap: 1rem;
  padding: clamp(1.3rem, 1.2rem + 3vw, 2.3rem);
  align-items: space-around;
}

/* layout of Info box */
.weather__info {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
  padding: clamp(2rem, 1.5rem + 1.5vw, 2.2rem)
    clamp(1.3rem, 1.2rem + 1vw, 2.3rem);
}

.weather__infoBottom,
.weather__infoTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__temperature,
.weather__humidity {
  margin-bottom: 1.1rem;
}

/* Make the values bold */
.weather__temperature,
.weather__humidity,
.weather__uv,
.weather__windSpeed,
.weather__conditions {
  font-weight: 500;
  margin-top: 0.3rem;
}

/* Layout for main card */
.weather__mainMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Img div */
.weather__mainImg {
  height: 80px;
  width: 80px;
}

.weather__mainImg > img {
  height: 100%;
  width: 100%;
}

/* Text Block */
.weather__mainMetaTextBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__description {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid rgb(223, 218, 218, 0.9);
}

.weather__temperature {
  width: 37px;
}

.weather__windSpeed {
  width: 56;
}
